<div class="container">
  <h2>About us</h2> 
  <p>
      Code Monkey is a place for coding enthusiasts to meet, interact and share photos of the coding events.
  </p>
</div>
<% if user_signed_in? %>
    Signed in as <%= current_user.email %>.<br/>
    <%= link_to 'Edit', edit_user_registration_path %><br/>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
<% end %>
